.img-100 {
	width: 350px;
	height: 200px;
}

.table h2 {
	font-size: large;
	font-weight: 600;
	color: green;
	border-bottom: 2px solid gray;
	border-style: double;
	padding: 3px;
	background-color: rgba(255, 0, 0, 0.37);
}

.table p {
	font-weight: 400;
	color: green;
}

#off {
	color: red;
}
